<div class="navbar navbar-default navbar-static-top">
        <div class="container" ng-controller="LogoutController">
          <ul class="nav navbar-nav">
            <a href="/" class="navbar-brand"><i class="ion-images"></i> WhatsApp</a>
            <li><a href="#/profile">Home</a></li>
            <li><a ng-click="logout()" href="">Logout</a></li>
          </ul>
        </div>
</div>


<div  ng-controller="chatController">
	<h1 class="media-heading">{{details[whichGroup].name}}</h1>
  <!--
  <h1 class="media-heading">{{details.groupname}}</h1>
  -->
	<br>

	<div>

 	  <ul class="grouplists">
    		<li class="groups" ng-repeat="(key, value) in details[whichGroup].chat">
                <h3> {{key}} :{{value}}</h3>
    		</li>
        
        <!--
        <li class="groups" ng-repeat="message  in details">
                <h3> {{message .key}} :{{message .value}}</h3>
                //<b>{{message.sender}}</b>: {{message.text}} 
        </li>
      -->
      
    </ul>

  </div>

  <div>
     <ul>
        <li ng-repeat="message  in messages">
            <h3>You:{{message }}</h3 >
        </li>
      </ul>
  </div>

  <form ng-submit="sendMessage()" style="padding:5px; bottom: 0;" >

    <input type="text" style=" border:1px;padding:10px;width:85%; margin-right: .5%; margin-left:.5%;" ng-model="new_reply" name="text" placeholder="Type your message here" />

    <button type="submit" style="width:10%; border:1px; padding:1p0x;" class="btn "class="input-group-addon">

      <h5><span class="glyphicon glyphicon-comment" ></span> SEND</h5>

    </button>

  </form>


</div>

