<div ng-controller="chatController">
	<h1>{{groupname[whichGroup].name}}</h1>
	<br>
	<div>
    	<ul class="grouplists">
    		<li class="groups" ng-repeat="(key, value) in groupname[whichGroup].chat">
                <h3> {{key}} :{{value}}</h3>
    		</li>
    	</ul>
        
  </div>
  <div>
<ul>
  <li ng-repeat="item in messages">
            <h3 ng-show="sent">You:</h3 >
              <h3>{{item}}</h3>

  </li>

</ul>
  </div>
  <!--<div class="row">
	    <div class="col-md-5 col-sm-5" style="padding-left: 40px;">
	      <textarea class="form-control" ng-model="new_reply" placeholder="Reply here..." rows="5">
	      </textarea>
	    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-2" style="padding-left:40px; margin:15px 0px;">
      <button type="submit" class="btn sub-button" ng-click="Addreply()">Go</button>
    </div>
  </div>-->
<form ng-submit="submit()">
  <input type="text" ng-model="new_reply" name="text" />
  <input type="submit" id="submit" value="Submit" />
  
</form>




<!--    <div class="row">
	    <div class="col-md-5 col-sm-5" style="padding-left: 40px;">
	      <textarea class="form-control" ng-model="new_reply" placeholder="Reply here..." rows="5">
	      </textarea>
	    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-2" style="padding-left:40px; margin:15px 0px;">
      <button type="submit" class="btn sub-button" ng-click="Addreply()">reply</button>
    </div>
  </div>
<div class="row" ng-repeat="item in details.replys">
	<div class="col-md-2 col-sm-2" style="margin-bottom:8px; padding-bottom:6px; border-bottom:1px solid #ccc; width:12%;">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <span title="Author" class="glyphicon glyphicon-user" aria-hidden="true" style="font-size:11px;"></span>
              <span title="Author" class="side-info"> {{item.username}}</span>
              
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6" style="padding-left:0px;">
          <h5>
            {{item.description}}
          </h5>
        </div>
    </div>


-->
</div>