<div class="container-fluid">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <h2 class="add-header">Welcome, Enter your phone number!</h2>
  </div>
  <div class="row" ng-controller="loginController">
          <div class="col-md-12 col-sm-12">
              <form>
                <div class="input-group input-group-lg">
                  <input class="form-control input-focus" ng-model="login" placeholder="Enter your phone number!">
                  <button type="submit" class="btn sub-button" ng-click="GO()">GO</button>
                      <span class="glyphicon glyphicon-search"></span>
                  </button>
                 
                </div>
              </form>
          </div>
  </div>

</div>

