
<div class="container">
  <div ng-if="!isAuthenticated">
          <div class="panel-body">
      <h2><i class="ion-images"></i> WhatsApp</h2>
      <p> 
          <h4> <i class="ion-log-in"></i> Log in with your Phone Number.</h4>
      </p>
      <br>
         <form>
          <div class="input-group input-group-lg" >
           <input class="form-control input-focus" ng-model="inputData.phoneNumber" placeholder="Enter your phone number!" required>
          <br>

             <button type="submit" class="btn sub-button" ng-click="GO()">GO</button>
                 
          </div>
         </form>
      </div>
  </div>
</div>
  


