<div class="navbar navbar-default navbar-static-top">
        <div class="container" ng-controller="LogoutController">
            <ul class="nav navbar-nav">
                <a href="/" class="navbar-brand"><i class="ion-images"></i> WhatsApp</a>
                <li><a href="#/profile">Home</a></li>
                <li><a ng-click="logout()" href="">Logout</a></li>
            </ul>
        </div>
</div>         
<div ng-controller="profileController">

       <div class="list-group-item" >
        <h2>Groups</h2>
       </div>

       <div class="panel-body" style="width:200px; height:100px; margin:0 auto;" ng-repeat="item in details" class="col-lg-2 col-sm-3 col-xs-4">
         
         <!-- <a href="#/groups/{{item.id}}">-->
         
         <a href="#/groups/{{details.indexOf(item)}}">
          <h3> {{item.name}}</h3>
         </a>
       </div>
     
</div>
